
section {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #f4f4f4;
}
.text-div {
    flex: 1;
    padding: 10px;
    margin-right: 2%;
}


.history, .attraction {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 15px;
}


.history h2, .attraction h2, .history h3 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 15px;
}


.history ol, .attraction ul {
    list-style-position: inside;
    margin-bottom: 15px;
}
.table{
    position: absolute;
    bottom: 0rem;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
}

table th {
    background-color: #333;
    color: #fff;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}


.city-info-aside {
    background-color: #fff;
    position: absolute;
    top: 0%;
    right:0%;
    height: 50rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 3rem;
    margin-top: 6rem;
    
 
}

.city-info-aside h2 {
    border-bottom: 3px solid #007BFF; 
    padding-bottom: 10px;
    margin-bottom: 20px; 
    font-weight: bold; 
    color: #007BFF; 
}

.city-info-aside img {
    width: 100%;
    height: 50%; 
    margin-bottom: 20px; 
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.city-info-aside ul {
    list-style-type: none;
    padding-left: 0;
}

.city-info-aside li {
    margin-bottom: 15px; 
    font-size: 0.9em; 
    color: #555; 
}


.city-info-aside li strong {
    color: #333; 
    font-weight: bold; 
}


