
.section {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: #f9f9f9;
}

.main_content {
    flex: 2;
    margin-right: 2rem;
}


.main_content h1, .main_content h2, .main_content h3 {
    color: #333;
    margin-bottom: 1rem;
}




.history {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    

} 
.attraction {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
}


.history ol, .attraction ul {
    list-style-position: inside;
    margin-bottom: 1rem;
}

.attraction a {
    color: #007BFF;
    text-decoration: none;
}

.attraction a:hover {
    text-decoration: underline;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

table th, table td {
    padding: 0.5rem;
    text-align: left;
}

table th {
    background-color: #007BFF;
    color: #fff;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table a {
    color: #007BFF;
    text-decoration: none;
}

table a:hover {
    text-decoration: underline;
}


.city-info-aside {
    flex: 1;
    background-color: #fff;
    margin-top: 4rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-top: 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 50rem;
}

.city-info-aside h2 {
    color: #333;
    margin-bottom: 1rem;
}

.city-info-aside img {
    width: 100%;
    height: 50%;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.city-info-aside ul {
    list-style-type: none;
    padding-left: 0;
}

.city-info-aside li {
    margin-bottom: 0.5rem;
}

.city-info-aside strong {
    color: #007BFF;
}
